@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

:root {
    --width: 450px;
    --font: "Inter", sans-serif;
}

body {
    margin: 0;
}

#container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: var(--width);
    padding-bottom: 50px;
}

input {
    border: none;
    outline: none;
    font-size: 30px;
    width: var(--width);
    font-family: var(--font);
    padding-left: 0;
    padding-bottom: 5px;
}

input::placeholder {
    color: #888;
}

hr {
    width: var(--width);   
}

ul {
    list-style: none;
    margin: 0;
    font-size: 30px;
    width: var(--width);
    font-family: var(--font);
    padding-left: 0;
    line-height: 65px;
}

li {
    width: calc(var(--width) - 20px);
    padding-left: 20px;
    user-select: none;
    overflow: hidden;
}

li:hover {
    background-color: #f6f6f6;
    border-radius: 12px;
    cursor: default;
}

.strike {
    text-decoration: line-through;      
    color: #aaa !important;
}

#overlay {
    background-color: black;
    opacity: 0.35;
    height: 100vh;
    width: 100vw;
    display: none;
}

#messageBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 565px;
    background-color: white;
    border-radius: 20px;
    display: none;
    padding: 15px 35px 70px 35px;
    font-family: var(--font);
    font-size: 18px;
}

#messageBox button {
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 62px;
    height: 40px;
    font-size: var(--font);
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

.dragging {
    color: transparent !important;
    border: 2px dashed #ddd;
    stroke-linecap: round;
    stroke-dasharray: 0, 10;
    height: 61px;
    border-radius: 12px;
    background-color: white !important;
}
